:root {
   --primary-color: rgba(26, 31, 31, 0.85);
   --secondary-color: rgba(229, 148, 0 , 0.9);
   --overlay-color: rgba(24, 29, 32, 0.95);
   --menu-speed: 0.75s;
   --button-color:rgba(41, 48, 48, 0.75);
 }

* {
   padding: 0;
   margin: 0;
   line-height: 1.8;
   box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
   background: url('background.jpg')
   no-repeat center center/cover;
   z-index: -1;
   overflow: hidden;
}

/* Button */
.btn{
   text-decoration: none;
   padding: 0.75rem 1.5rem;
   color: #fff;
   border:none;
   font-size: 1rem;
   display:inline-block;
   margin-top: 1rem;
   background: var(--button-color);
   transition: all 0.55s ease-in-out;
   font-weight: bold;
}

.btn:hover{
   background: #333;
   color: var(--secondary-color)
}

/* Navbar */
.nav {
   display: flex;
   height:100px;
   justify-content: space-between;
   align-items: center;
 }
 
 .l-heading {
   color: #fff;
   font-size: 2rem;
   text-align: center;
   width: 90%;
   padding-left: 12rem;
   font-weight: bold;
 }
 
 .nav .user {
   display:flex;
   padding:0 1.5rem;
   justify-content: center;
   align-content: center;
 }
 
 .nav .user i {
   color:#fff;
   padding-right: 0.9rem;
 }
 
 .nav .user p {
   color: #fff;
   font-size: 1.2rem;
   font-weight: bold;
   padding-top: 0.1rem;
   letter-spacing: 0.1rem;
 }
 
 /* Main-Footer */
 .main-footer{
   color:#fff;
   text-align: center;
   background: var(--primary-color);
   max-width:700px;
   padding: 0.5rem 0;
   margin: auto;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
 }
 /* Hamburger */
 .menu-wrap {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
 }
 
 .menu-wrap .toggler {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0;
 }
 
 .menu-wrap .hamburger {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 60px;
   height: 60px;
   padding: 1rem;
   background: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 /* Hamburger Line */
 .menu-wrap .hamburger > div {
   position: relative;
   flex: none;
   width: 100%;
   height: 2px;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.4s ease;
 }
 
 /* Hamburger Lines - Top & Bottom */
 .menu-wrap .hamburger > div::before,
 .menu-wrap .hamburger > div::after {
   content: '';
   position: absolute;
   z-index: 1;
   top: -10px;
   width: 100%;
   height: 2px;
   background: inherit;
 }
 
 /* Moves Line Down */
 .menu-wrap .hamburger > div::after {
   top: 10px;
 }
 
 /* Toggler Animation */
 .menu-wrap .toggler:checked + .hamburger > div {
   transform: rotate(135deg);
 }
 
 /* Turns Lines Into X */
 .menu-wrap .toggler:checked + .hamburger > div:before,
 .menu-wrap .toggler:checked + .hamburger > div:after {
   top: 0;
   transform: rotate(90deg);
 }
 
 /* Rotate On Hover When Checked */
 .menu-wrap .toggler:checked:hover + .hamburger > div {
   transform: rotate(225deg);
 }
 
 /* Show Menu */
 .menu-wrap .toggler:checked ~ .menu {
   visibility: visible;
 }
 
 .menu-wrap .toggler:checked ~ .menu > div {
   transform: scale(1);
   transition-duration: var(--menu-speed);
 }
 
 .menu-wrap .toggler:checked ~ .menu > div > div {
   opacity: 1;
   transition:  opacity 0.4s ease 0.4s;
 }
 
 .menu-wrap .menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .menu-wrap .menu > div {
   background: var(--overlay-color);
   border-radius: 50%;
   width: 200vw;
   height: 200vw;
   display: flex;
   flex: none;
   align-items: center;
   justify-content: center;
   transform: scale(0);
   transition: all 0.4s ease;
 }
 
 .menu-wrap .menu > div > div {
   text-align: center;
   max-width: 90vw;
   max-height: 100vh;
   opacity: 0;
   transition: opacity 0.4s ease;
 }
 
 .menu-wrap .menu > div > div > ul > li {
   list-style: none;
   color: #fff;
   font-size: 1.5rem;
   padding: 1rem;
 }
 
 .menu-wrap .menu > div > div > ul > li > a {
   color: inherit;
   text-decoration: none;
   font-size: 1.8rem;
   transition: color 0.4s ease;
 }
 
 .menu-wrap .menu > div > div > ul > li > a:hover {
   color: var(--secondary-color);
 }
/* Content of the page */
.body{
   height: 100vh;
   background: var(--primary-color);
}

.left {
  transform: translateX(-1100px);
  animation: left 1s forwards ease-out;
}
.right {
  transform: translateX(1100px);
  animation: left 1s forwards ease-out;
}

/* Animations */
@keyframes left{
  to{
    transform: translateX(0);
  }
}
@keyframes right{
  to{
    transform: translateX(0);
  }
}